<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="PortNum" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="dinum" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="donum" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="addr" serializeAs="String">
                <value>254</value>
            </setting>
            <setting name="timeInverse" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="ainum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="model" serializeAs="String">
                <value>IO404</value>
            </setting>
            <setting name="logicmode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inputid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inputfunc" serializeAs="String">
                <value>02</value>
            </setting>
            <setting name="inputreg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outfunc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outreg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mqtt_base" serializeAs="String">
                <value>1194</value>
            </setting>
            <setting name="mqtt_port" serializeAs="String">
                <value>1258</value>
            </setting>
            <setting name="mqtt_devname" serializeAs="String">
                <value>1260</value>
            </setting>
            <setting name="mqtt_devsecret" serializeAs="String">
                <value>1292</value>
            </setting>
            <setting name="mqtt_productkey" serializeAs="String">
                <value>1324</value>
            </setting>
            <setting name="mqtt_sub" serializeAs="String">
                <value>1356</value>
            </setting>
            <setting name="mqtt_pub" serializeAs="String">
                <value>1388</value>
            </setting>
            <setting name="mqtt_namelen" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="mqttttt" serializeAs="String">
                <value>123</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>
